%header
  %hgroup
    %h1
      = link_to data.static[:h1_logo_text], "/", :title => data.static[:h1_title]
      %span= data.static[:h1_logo_subtext]

    %h2
      = data.static[:h2_scream_line_1]
      %span= data.static[:h2_scream_line_2]
      %span= data.static[:h2_scream_line_3]

    %nav
      %ul
        %li
          = link_to data.static[:nav_page_1], "/event.html", :title => data.static[:nav_page_1_title], :class => is_page_selected("/event/")
        %li
          = link_to data.static[:nav_page_2], "/past.html", :title => data.static[:nav_page_2_title], :class => is_page_selected("/past/")

