---
title: a meetup for Frontend & UI Developers, UX & Web Designers
ready: true
---
<% 
  active = current_page.data.ready

  if active
    homepage = data.new.meetup 
  else
    homepage = data.default.meetup
  end 
  
  date = homepage.date 
  type = homepage.type 
  
%>

<main role="main">

  <p>
    Frontenders es una reunión mensual centrada en temas de desarrollo frontend, diseño web, UI y UX.
    Nos encontramos regularmente el segundo jueves de cada mes en el espacio de coworking 
    <%= link_to "GeeksHubs", "http://geekshubs.com/es/?utm_source=comunidades&utm_medium=web&utm_campaign=frontenders", :title => "Comunidad Geek y Emprendedores techies", :target=> "_blank"  %>
    , en Avenida Cataluña, 11 (Valencia). 
    <%= link_to "¿Quieres saber más?", "frontenders.html" %>
  </p>

  <h2>Próximo meetup: <time>jueves <%= date %>, 19:00h</time></h2>
      
  <section class="<%= type %>">
    <% homepage.talks.each do |f| %>
      <article>  
        <h3><%= f[:title] %></h3>
          
        <% f.text.each do |t| %>
          <p><%= t %></p>
        <% end %>
          
        <% if active %>
          <% f.author.each do |t| %>
            <p>
              <%= t[:name] %>
              <%= link_to "@"+t[:twitter], "https://twitter.com/"+t[:twitter], :target=> "_blank"  %> 
              <%= t[:bio] %>
            </p>
          <% end %>
        <% end %>
          
      </article>
    <% end %>
    <% if homepage.sponsor %>
            <section>
              <h2>Patrocinador</h2>
              <%= link_to image_tag(homepage.sponsor[:image]), homepage.sponsor[:url], :title => homepage.sponsor[:name], :target=> "_blank"  %>
            </section>
      <% end %>

      <% if active %>
        <%= link_to "Asistiré al Frontenders Valencia", homepage[:eventbrite], :target=> "_blank"  %>
        <small class="block small_caption">Por cuestiones de aforo nos gustaría saber el numero de asistentes.</small>
      <% end %>    
  </section>
</main>