---
title: a meetup for Frontend  UI Developers, UX  Web Designers
ready: true
---
- active = current_page.data.ready

- if active
  - homepage = data.new.meetup
- else
  - homepage = data.default.meetup

- date = homepage.date
- type = homepage.type

%main{:role => "main"}
  %p.main_paragraph
    = data.static[:main_paragraph_text_1]
    = link_to data.static[:partner_name], data.static[:partner_url], :title => data.static[:partner_url_title], :target => "_blank"
    = data.static[:main_paragraph_text_2]
    = link_to data.static[:main_paragraph_link_text], "frontenders.html"

  %h2.title
    = data.static[:next_meetup]
    %time
      = data.static[:week_day]
      #{date}
      = data.static[:day_hour]

  %section{:id => "#{type}"}

    - homepage.talks.each do |f|
      %article
        %h3= f[:title]
        - f.text.each do |t|
          %p= t
        - if active
          - f.author.each do |t|
            %p
              = t[:name]
              = twitter_url(t[:twitter])
              = t[:bio]

    - if homepage.sponsor
      %div
        %h3= data.static[:sponsor]
        = link_to image_tag("sponsors/"+homepage.sponsor[:image]), homepage.sponsor[:url], :title => homepage.sponsor[:name], :target => "_blank"

    - if active
      %div
        = link_to data.static[:attend_text], homepage[:eventbrite], :class => "button", :target => "_blank"
        %small.caption= data.static[:attend_subtext]