---
title: Los eventos anteriores
---

    <div id="main" role="main" class="clearfix">

      <h2 class="centered orange scream margin_top_0">Meetups anteriores</h2>

        <% data.archive.meetups.each do |m| %>

        <h2 class="centered past">
        jueves <%= m[:date] %>
        <% if m[:hangout_url] %>
          see on
          <%= link_to m[:hangout_url], m[:hangout_url], :class=> "ico hangout", :target=> "_blank"  %>
        <% end %>
        </h2>

        <section class="<%= m[:type] %>">
          <% m.talks.each do |f| %>
            <article class="content first_box undefined">
              
              <h2><%= f[:title] %></h2>
              
              <% f.text.each do |t| %>
                <p><%= t %></p>
              <% end %>
              
              <% f.author.each do |t| %>
                <p>
                  <%= t[:name] %>
                  <%= link_to "@"+t[:twitter], "https://twitter.com/"+t[:twitter], :target=> "_blank"  %>
                  <%= t[:bio] %>
                </p>
              <% end %>

              <% if f.links %>
                <% f.links.each do |t| %>
                  <p>
                    <%= link_to t[:label], t[:url], :target=> "_blank"  %>
                  </p>
                <% end %>
              <% end %>          
            </article>
          <% end %>

          <% if m.sponsor %>
            <section>
              <h2>Patrocinador</h2>
              <%= link_to image_tag(m.sponsor[:image]), m.sponsor[:url], :title => m.sponsor[:name], :target=> "_blank"  %>
            </section>
          <% end %>

          </section>      
        <% end %>




    </div>
  
