---
title: Los eventos anteriores
---

%main{:role => "main"}
  %h2.title= data.static[:past_title]

  - data.archive.meetups.each do |m|
    %h2
      = data.static[:week_day]
      = m[:date]

      - if m[:hangout_url]
        = link_to m[:hangout_url], m[:hangout_url], :class=> "ico hangout", :target=> "_blank"

    %section{:id => "#{m.type}"}
      - m.talks.each do |f|
        %article
          %h3= f[:title]
          - f.author.each do |t|
            = t[:name]
            = twitter_url(t[:twitter])

          - f.text.each do |t|
            %p= t

          - if f.links
            - f.links.each do |t|
              %p
                = link_to t[:label], t[:url], :target=> "_blank"

      - if m.sponsor
        %div
          %h3= data.static[:sponsor]
          = link_to image_tag("sponsors/"+m.sponsor[:image]), m.sponsor[:url], :title => m.sponsor[:name], :target=> "_blank"

